* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

select {
    border: none;
    background-color: #23272A;
    color: white;
}

ul, ol, menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

header {
    background-color: #255EE9;
}

.container {
    max-height: 1000px;
    margin: 0 auto;  
}

.logo {
    min-width: 150px;
}

.bg-gray {
    background-color: #F6F6F6;
}

.row {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.row-3 {
    padding: 20px;
    justify-content: space-between;
}

.row-1 {
    min-height: 250px;
    padding: 150px;
}

.col {
    min-height: 40px;
    flex-basis: 200px;
}

.col-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-2 {
    flex-grow: 1;
    color: white;
    display: flex;
    justify-content: space-around;
}

.accedi {
    background-color: white;
    border-radius: 20px;
    padding: 13px;
    text-align: right;
    line-height: 10px;
    width: max-content;
}

.link {
    display: flex;
    gap: 30px;
    color: white;
}

.link a {
    color: white;
}

.col-section-main {
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.button-mac {
    background-color: white;
    padding: 12px 15px;
    border-radius: 30px;
}

.button-mac.download a {
    color: white;
}

.button-mac.download {
    background-color:#7289DA;
    color: white;
    font-size: 20px;
}

.button-mac.registrati {
    background-color: #7289DA;
    color: white;
    padding: 10px;
}

.mac-download {
    padding: 50px;
    display: flex;
    justify-content: center;
}

.button-browser {
    background-color: #23272A;
    padding: 12px 15px;
    border-radius: 30px;
    color: white;
}

.center-col {
    flex-basis: 400px;
}

.colonna1 {
    min-height: 200px;
    flex-basis: 500px;
}

.colonna2 {
    flex-basis: calc(100% / 5)
}

.colonna3 {
    min-height: 500px;
    flex-basis: 890px;
}

.colonna-footer {
    min-height: 400px;
    flex-basis: calc(100% / 6);
} 

.colonna-footer.left {
    flex-basis: calc(100% / 3);
}

.row-footer.bottom {
    border-top: 2px solid #7289DA;
}

footer {
    background-color: #23272A;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

 .row-footer {
    margin: 30px 0;
    gap: 40px;
 }

 .row-sub-footer {
    background-color: gray;
    border: 1px solid lightgray;
 }

 .colonna-sub-footer {
    min-height: 50px;
    flex-basis: 500px;
 }

 .row-footer.bottom {
    justify-content: space-between;
    padding: 20px 0;
    width: 45%;
    flex-basis: 80px;
    text-align: center;
    min-height: 20px;
 }

 header .row .row-3 {
    justify-content: space-between;
 }

 .section-main {
    background-image: url("../img/jumbo.png");
    background-size: cover;
 }

 .title, .description {
    text-align: center;
    color: white;
}

.title {
    font-size: 40px;
}

 .title-second {
    font-size: 35px;
 }

 .description {
    padding: 2px;
    width: 800px;
    margin-top: 30px;
 }

 .text {
    padding-top: 22px;
    font-size: 18px;
}

.text-main-bottom {
    text-align: center;
 }

 .title-bottom {
    text-align: center;
 }

 .go {
    font-size: 30px;
    text-align: center;
    background-image: url(../img/stars.svg);
 }

 h4 {
    color: #7289DA;
 }

 .title-footer {
    color: #7289DA;
    padding-bottom: 20px;
 }

 li {
    color: white;
    padding: 6px 0;
 }

 .flag {
    max-width: 25px;
    display: inline-block;
 }
